/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

app-root {
    display: inline-block;
    width: 100%;
}

app-root, body {
    height: 100vh;
}