<section class="p-6 h-screen bg-gray-900">
    <h1 class="text-3xl font-bold mb-20 text-center text-white">Agenda de Contactos</h1>
    
    @if (contactes().length === 0) {
    <section class="flex justify-center h-1/2">
      <h1 class="my-auto text-4xl font-bold">No hay contacto, añade alguno!</h1>
    </section>
    } @else {
    <!-- Lista de Contactos -->
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      @for (contacte of contactes(); track contacte.id) {
      <!-- Card de Contacto -->
      <div class="bg-gray-800 rounded-lg shadow p-4 hover:bg-gray-700 transition">
        <h2 class="text-xl text-gray-300 font-semibold mb-2">{{contacte.nom}}</h2>
        <p class="text-gray-300 mb-1"><strong>Email:</strong> {{contacte.email}}</p>
        <p class="text-gray-300 mb-3"><strong>Teléfono:</strong> {{contacte.telefon}}</p>
      </div>
      }
    </section>
    }
</section>
